body {
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #00241B 0%, #4E878C 30%, #65B891 55%, #B5FFE1 65%, #FFFFFF 90%);
  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #00241B 0%, #4E878C 30%, #65B891 55%, #B5FFE1 65%, #FFFFFF 90%);
  /* Opera */ 
  background-image: -o-linear-gradient(top, #00241B 0%, #4E878C 30%, #65B891 55%, #B5FFE1 65%, #FFFFFF 90%);
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00241B), color-stop(0.3, #4E878C), color-stop(0.55, #65B891), color-stop(0.65, #B5FFE1), color-stop(0.9, #FFFFFF));
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #00241B 0%, #4E878C 30%, #65B891 55%, #B5FFE1 65%, #FFFFFF 90%);
  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #00241B 0%, #4E878C 30%, #65B891 55%, #B5FFE1 65%, #FFFFFF 90%);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* - Header - */
main {
  background-color: white;
  width: 960px;
  margin: 0 auto;
}

header {
  background-image: -ms-linear-gradient(top, rgba(179, 179, 179, 0.2)30%, #FFFFFF 80%);
  background-image: -moz-linear-gradient(top, rgba(179, 179, 179, 0.2)30%, #FFFFFF 80%);
  background-image: -o-linear-gradient(top, rgba(179, 179, 179, 0.2)30%, #FFFFFF 80%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, rgba(179, 179, 179, 0.2)), color-stop(0.8, #FFFFFF));
  background-image: -webkit-linear-gradient(top, rgba(179, 179, 179, 0.2)30%, #FFFFFF 80%);
  background-image: linear-gradient(to bottom, rgba(179, 179, 179, 0.2)30%%, #FFFFFF 80%);
}

.iPhone, .logo {
  padding: 0;
}

.iPhone img {
  margin: 3px 0 -30px 27px;
  width: 100%;
}

.logo {
  margin-left: -15px;
  padding: 0;
}

.logo img {
  margin: 150px 0 0 100px;
  padding: 0;
}

.logo h1 {
  text-align: center;
  font-size: 43px;
  letter-spacing: -1px;
  font-weight: lighter;
  margin-top: -38px;
  padding: 0;
  color: #012f23;
}

.logo h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  margin-top: 25px;
  padding: 0;
  line-height: 25px;
  word-spacing: -2px;
}

.divider {
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
}

/* - Section 1 - */

#section1 {
  text-align: center;
  margin: 70px auto 0;
}

.s1margin {
  margin-bottom: 90px;
  margin-left: 0;
  margin-right: 0;
}

.comments, .earnings, .sales, .appstore {
  background-image: url('../images/css-sprite.png');
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
}

.comments {
  background-position: 0px 15px;
}

.earnings {
  background-position: -125px 5px;
}

.sales {
  background-position: -240px 5px;
}

.appstore {
  background-position: -365px 5px;
}

#section1 h3 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -2px;
  color: #012f23;
  margin-top: 0;
}

#section1 p {
  font-size: 18px;
  letter-spacing: -1px;
  word-spacing: 2px;
  line-height: 20px;
  font-weight: lighter;
  margin: 2px auto 10px;
}

#section1 a {
  color: #4e878c;
  text-decoration:underline;
  font-size: 16px;
  font-weight: lighter;
}

/* - Section 2 - */

#section2 {
  text-align: center;
}

#section2 h2 {
  color: #012f23;
  font-size: 45px;
  line-height: 25px;
  letter-spacing: -2px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 40px;
}

#section2 p {
  width: 60%;
  margin: 15px auto;
  font-size: 16px;
  word-spacing: 1px;
}

#section2 .section2iPhone {
  width: 100%;
  margin: 0;
}

#section2 ul {
  list-style: none;
}

#section2 .screenshot {
  background-image:url('../images/section2-bg-iphone.png');
  height:640px;
  color: #B5FFE1;
  position: relative;
  font-size: 12px;
  margin-bottom: 23px;
}

.screenshot li.feature1 {
  position: absolute;
  top: 205px;
  left: 50px;
  width: 200px;
  text-align: right;
}

.screenshot li.feature2 {
  position: absolute;
  top: 387px;
  left: 50px;
  width: 200px;
  text-align: right;
}

.screenshot li.feature3 {
  position: absolute;
  top: 297px;
  right: 35px;
  width: 200px;
  text-align: left;
}

.screenshot li.feature4 {
  position: absolute;
  top: 485px;
  right: 35px;
  width: 200px;
  text-align: left;
}

/* - Section 3 - */

.download a {
  background-image: url('../images/css-sprite.png');
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 315px;
  height: 115px;
  background-position: -6px -118px;
  margin: 20px auto 30px;
  display: block;
}

#section3 {
  line-height: 18px;
}

#section3 .row {
  margin-bottom: 30px;
}

#section3 h4 {
  color: #012f23;
  font-size: 15px;
  margin-bottom: 25px;
}

#section3 p {
  margin-bottom: 20px;
  font-size: 13px;
}

/* - Footer - */

footer {
  width: 750px;
  margin: 0 auto 20px;
}

.footerLogo {
  background-image: url('../images/css-sprite.png');
  background-repeat: no-repeat;
  width: 200px;
  height: 60px;
  background-position: -5px -243px;
  float: left;
  display: block;
}

.footerNav {
 display: block;
float: right;
width: 320px;
height: 13px;
margin-top: 20px;
left: 100px;
padding: 0;

}

.footerNav li {
  list-style: none;
  display: inline;
  padding-right: 12px;
  padding-left: 12px;
  border-right: 1px solid #4e878c;
}

.footerNav a {
  color: #4e878c;
  font-size: 15px;
}

.footerNav .noBorder {
  border-right: none;
}

.clear {
  clear: both;
}
